.footer-top-container {
	background: theme-color('primary');
	padding: 100px;
	div.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		h2 {
			color: white;
			font-size: 48px;
		}
		p {
			color: white;
		}
	}
}

.footer-container {
	padding: 50px 0;
	.footer-brand {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: 1000px) {
			margin-bottom: 50px;
		}
		.footer-logo {
			display: flex;
			justify-content: center;
			a {
				margin-right: 0;
			}
			img {
				width: 100%;
			}
		}
		.footer-social {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			a {
				color: white;
				&:hover {
					color: theme-color('primary');
				}
			}
		}
	}
	.footer-menu {
		@media (max-width: 770px) {
			align-items: center;
			justify-content: center;
			margin-bottom: 30px;
		}
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		h4 {
			margin-bottom: 20px;
		}
		a {
			color: white;
			text-decoration: none;
			font-size: 14px;
			margin-bottom: 10px;
			transition: all 0.5s ease;
			&:hover {
				color: #e686f6;
			}
		}
		span {
			font-size: 14px;
			margin-bottom: 10px;
		}
		i {
			font-size: 18px;
			margin-right: 5px;
		}
		div.container-fluid {
			display: inline-block;
			@media (max-width: 770px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				div.row {
					i {
						display: none;
					}
				}
			}
			div.row {
				margin-bottom: 10px;
			}
		}
		div.d-flex {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.o_footer_copyright {
	background: black;
	padding: 20px;
	span {
		color: white;
	}
	.js_language_selector {
		margin-left: 10px;
		span {
			color: black;
		}
	}
}